<div data-role="dialog" data-overlay="true" data-overlay-color="op-dark" id="metodo_pago">
	<div class="panel">
		<div class="margin20">
			<strong>Método de pago</strong>
			<br><br><hr>
			<button name="debito" id="{{ electronico }}" class="shortcut-button info margin20 electronic">
				<span class="icon mif-mastercard"></span>
				<span class="title">Tarjeta</span>
			</button>
			<button name="efectivo" id="{{ efectivo }}" class="shortcut-button warning margin20 no-margin-left cash" >
				<span class="icon mif-dollars"></span>
				<span class="title">Efectivo</span>
			</button>
		</div>
	</div>
</div>